body {
	background: rgb(80, 80, 80);
	background-size: cover;
}
.content_top {
	transform: translate(110px, 5px); /* decalage       */
	display: flex; 						/* element sur la meme ligne*/
	border-radius: 10px;				/* arrondir angles  */
	box-shadow: 6px 6px 0px;			/* ombres  */
	width: 1400px;						/*  largeur       */
	background: rgb(145, 145, 145);		/*   background de l image         */			
}
.content_mid {
	transform: translate(-1px, -155px); 	/*        */
	display: flex;							
}
.mid_cluster {
	transform: translate(170px, 20px);		
	width: 1000px;		
	height: 620px;						/* hauter */
	border-radius: 10px;
	box-shadow: 6px 6px 0px;
	background: rgb(145, 145, 145);
}
.mid_left {
	transform: translate(145px, 20px);
	width: 140px;
	height: 480px;
	border-radius: 10px;
	box-shadow: 6px 6px 0px;
	background: rgb(145, 145, 145);
}
.mid_right {
	transform: translate(215px, 20px);
	width: 140px;
	height: 480px;
	border-radius: 10px;
	box-shadow: 6px 6px 0px;
	background: rgb(145, 145, 145);
}
.top_right {
	width: 1000px;
	padding-top: 10px;			
	padding-right: 5px;
	text-align: right;
}
.day {				/*caler image*/
	transform: translate(12px, 17px);
}
.close {					/* caler croix */
	padding-top: 85px;
}
.loupe {
	max-width: 290px;
	transform: translate(1180px, -133px);
}
.arrow {					/* fleche */
	padding-top: 13px;
	text-align: center;
}
.hand {						
	padding-top: 10px;
	text-align: center;
}
.eye {
	transform: translate(25px, 5px);
	max-height: 70px;  /* carre rouge trop grand */
	max-width: 76px;
	border: 5px solid red;
	border-radius: 4px;
	text-align: center;
}
.tool {
	padding-top: 10px;
	text-align: center;
}
.chat {
	padding-top: 10px;
	text-align: center;
}
.cluster {
	padding-top: 10px;
	text-align: center;
}
.book {
	padding-top: 13px;
	text-align: center;
}
.towel {
	text-align: center;
}
.brick {
	transform: translate(15px, 10px);
	width: 110px;
	height: 81px;
	background-image: url(resources/brick.jpg); /* repeter brique */
	text-align: center;
}
.ikea {
	text-align: center;
}
.chat_box {
	transform: translate(86px, -218px);
	width: 476px;
	height: 143px;
	border-radius: 10px;
	box-shadow: 6px 6px 0px;
	background: rgb(141, 254, 143);
}
.texte {
	font-family: sans-serif;
	padding-left: 10px;
	text-align: left;
}
.box {
	display: flex;
	border: inset;
	width: 355px;
	height: 20px;
	background: white;
}
.repondre {
	border: groove;
	border-width: 1px;
	transform: translate(365px, -2px);
	width: 76px;
	height: 20px;
	background: rgb(240, 240, 240);
}
.ordinateur {
	text-shadow: 5px 6px 5px #FE3232;
}